h1, h2, h3{
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

p{
    text-align: center;
}

body{
    background-color: rgb(3, 0, 20);
    color: white;

    margin-left: 20px;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

/* Link Styles */
a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 116, 17);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}