*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

header{
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;

    font-family: 'Arial Narrow Bold', sans-serif
}

header h1{
  font-size: 2rem;
}

.main{
  max-width: 1200px;
  margin: auto;
}

.container #about{
  padding: 1rem;
  margin-left: 30rem;

  width: 15rem;
  height: auto;

  background-color: rgb(17, 15, 26);
  border: 5px rgb(20, 19, 27);

  /* make a small box around this, seperating it from the rest of the page */
  
}

aside.interests{
  padding: 1rem;
  margin-top: 1rem;
  border-left: 4px;
  border-left: 4px;
}

.tagline{
  font-style: italic;
  font-size: 1.2rem;

  margin-top: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 1rem 0 2rem 0;
  gap: 1.5rem;
  flex-wrap: wrap;
}

/* Img caption */
#img_article p{
  text-align: center;
}

#img_article{
  align-items: center;
}


body{
    background-color: rgb(3, 0, 20);
    color: white;

    line-height: 1.6;
    padding: 2rem;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* Link Styles */
a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 116, 17);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}